
.grid-1 {
  width: 8.333%;
  float:left;
  display: inline-block;
  padding: 0 0.5%;
}
.grid-2 {
  width: 16.666%;
  float:left;
  display: inline-block;
  padding: 0 0.5%;
}
.grid-3 {
  width: 24.9999%;
  float:left;
  display: inline-block;
  padding: 0 0.5%;
}
.grid-4 {
  width: 33.333%;
  float:left;
  display: inline-block;
  padding: 0 0.5%;
}
.grid-5 {
  width: 41.666%;
  float:left;
  display: inline-block;
  padding: 0 0.5%;
}
.grid-6 {
  width: 49.999%;
  float:left;
  display: inline-block;
  padding: 0 0.5%;
}
.grid-7 {
  width: 58.333%;
  float:left;
  display: inline-block;
  padding: 0 0.5%;
}
.grid-8 {
  width: 66.666%;
  float:left;
  display: inline-block;
  padding: 0 0.5%;
}
.grid-9 {
  width: 74.999%;
  float:left;
  display: inline-block;
  padding: 0 0.5%;
}
.grid-10 {
  width: 83.333%;
  float:left;
  display: inline-block;
  padding: 0 0.5%;
}
.grid-11 {
  width: 91.666%;
  float:left;
  display: inline-block;
  padding: 0 0.5%;
}
.grid-12 {
  width: 99.999%;
  float:left;
  display: inline-block;
  padding: 0 0.5%;
}

.alpha {
  padding-left: 0%;
  padding-right: 0.5%;
}
.omega {
  padding-left: 0.5%;
  padding-right: 0%
}
.alphaomega {
  padding: 0;
}
