.mobile {
  display: none;
}
.mobile-icon {
  font-size: 1.25em;
  margin-top: 0.15rem;
}
.mobileLogo {
  display: none;
}
.parent {
  position: relative;
}
.siteHeader {
  transition: 200ms;
}
.mobileHeader {
  display: none;
}

.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
}

.ReactModal__Content {
  min-width: 300px;
}

.campaign-info .author-image img {
  min-width: 76px;
}

.campaignEditMobileButton {
  display: none;
}

@media (max-width: 1340px) {
  .gallery-cell {
    width: 66%;
    background-size: cover;
    &:hover {
      background-size: cover !important;
    }
  }
}

@media (min-width: 1025px) {
  .desktop {
    display: inline-block !important;
  }
}

@media (max-width: 1024px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline-block;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .gallery-cell {
    width: 84%;
  }
  .campaign-index-item-info {
    height: 6em !important;
  }
  .siteHeader {
    .search-symbol {
      i {
        display: none;
      }
      position: absolute;
      display: none;
      left: 0;
      bottom: 0;
      right: 0;
      background: white;
      padding-top: 0.75rem;
      padding-bottom: calc(0.75rem - 8px);
      padding-left: 2.75rem;
      input {
        width: 90% !important;
      }
    }
  }
  .search-input-active {
    padding-bottom: 3.5rem;
    .search-symbol {
      border: none;
      border-top: 1px solid $light_grey;
    }
  }
}

@media (max-width: 980px) {
  .campaign-index-item {
    width: 32%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    &:nth-child(3n + 2) {
      margin-left: 2% !important;
      margin-right: 2% !important;
    }
    &:nth-child(7), &:nth-child(8) {
      display: none;
    }
  }
  .form-section {
    width: 100%;
  }
}

@media (max-width: 860px) {
  .progress-stats {
    flex-direction: column;
    p {
      &:first-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .gallery-cell {
    width: 100%;
  }
  .campaign-index-item {
    width: 49%;
    &:nth-child(odd) {
      margin-left: 0 !important;
      margin-right: 1% !important;
    }
    &:nth-child(even) {
      margin-left: 1% !important;
      margin-right: 0 !important;
    }
    &:nth-child(7), &:nth-child(8) {
      display: inline-block;
    }
  }
  .campaign-index-item-info {
    height: 3em !important;
  }
}

@media (max-width: 767px) {
  #profile-content {
    padding-right: 0;
    .profile-info {
      padding-right: 0;
    }
  }
  .pitch-image-container {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  $cols: 1 2 3 4 5 6 7 8 9 10 11 12;
  @each $col in $cols {
    .grid-#{$col} {
      width: 100%;
    }
  }
  .campaign-content-main {
    padding: 0 1em;
  }
  .campaign-reward-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .campaign-show-container {
    padding-left: 0;
    padding-right: 0;
    > div {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

// Mobile menu size
@media (max-width: 720px) {
  .siteLogo {
    display: none;
  }
  .mobileLogo {
    display: flex;
    justify-content: flex-start;
    a {
      display: flex;
      align-items: center;
      margin-left: 0.5rem;
      &:hover {
        color: $black;
      }
    }
  }
  .desktop-menu {
    display: none;
  }
  #main-menu {
    display: flex;
    flex-direction: column;
  }
  .desktopHeader {
    display: none !important;
  }
  .mobileHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    margin: 0;
    .toggle-menu {
      font-size: 0.5em;
    }
    .search-icon-item {
      width: 100%;
      text-align: right;
    }
    .mobile-icon {
      font-size: 1.6em;
      margin-top: 0;
    }
  }
  .open {
    display: block !important;
  }
  .closed {
    display: none !important;
  }
  #auth-dropdown {
    border: none;
    position: relative;
    top: 0;
    margin-top: 0rem;
    li {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  #mobileMenu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 4.575em;
    z-index: 1000;
    background: white;
    width: 100%;
    padding-left: 1rem;
    margin-top: 0;
    .signedOut-menu {
      li {
        padding-left: 0;
      }
    }
    .pitchButton {
      padding-bottom: 0;
    }
    .menu-dropdown-button {
      display: none;
    }
    .dropdown-parent {
      padding: 0 !important;
      position: relative;
    }
    li {
      border: none;
      padding: 1rem;
    }
    ul {
      padding-left: 0;
      > li {
        // padding: 1rem;
      }
    }
    a {
      background: none;
      color: #111 !important;
      padding: 0;
      text-transform: none !important;
      &:hover {
        color: $red !important;
      }
    }
  }
}

@media (max-width: 640px) {
  .search-component-input-container {
    width: 100% !important;
  }
  .home-content-container {
    .search-input {
      width: 90% !important;
    }
  }
  .currency-symbol {
    input {
      width: 90% !important;
    }
  }
  .form-section {
    .currency-symbol {
      width: 100%;
      input {
        width: 90% !important;
      }
    }
    input, textarea {
      width: 100% !important;
    }
    .campaign-form-tagline {
      width: 100% !important;
    }
  }
}

@media (max-width: 580px) {
  .user-campaign-show-list {
    width: 100%;
  }
}

@media (max-width: 524px) {
  .campaignEditMobileButton {
    display: inline-block;
  }
  .campaign-steps-list-element {
    li {
      &:last-child {
        display: none;
      }
    }
  }
}

@media (max-width: 480px) {
  .form-section {
    .thumbnail-image {
      width: 100%;
    }
  }
  .slide-subcontent {
    flex-direction: column !important;
    .button {
      align-self: flex-start;
      margin-top: 1rem;
    }
  }
  .gallery-cell {
    padding-left: 1em;
    padding-right: 1em;
  }
  .campaign-index-item {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .campaign-index-item:nth-child(even), .campaign-index-item:nth-child(odd) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .campaign-show-container {
    > div {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  .financial-container {
    display: none !important;
  }
}

@media (max-width: 420px) {
  .pitch-title {
    width: 100%;
  }
  footer {
    .container {
      display: flex;
      flex-direction: column;
      ul {
        margin: 0;
        li {
          margin-bottom: 1em;
        }
      }
    }
  }
  .footer-title {
    margin-bottom: 1rem;
  }
  .footer-icons {
    li {
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 380px) {
  .mobileHeader {
    padding-left: 0.25rem;
    padding-right: 0.4rem;
  }
}

@media (max-width: 360px) {
  .profile-content {
    .tabTitleList {
      li {
        &:last-child {
          display: none;
        }
      }
    }
  }
  .mobileHeader {
    .mobile-icon {
      font-size: 1.3em;
    }
    h1 {
      font-size: 1.8em;
    }
  }
}







//
