// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Variables

.progress_bar {
  background: green;
}

$work-sans: "work sans", sans-serif;
$open-sans: "open sans", sans-serif;

$red: #ff383f;
$light_red: lighten($red,4%);
$black: #2a2a2a;
$blue: #188ACC;
$light_grey: #c4c4c4;
$very_light_grey: #f4f4f4;
$med_grey: #dbdbdb;

$large_width: 1440px;
$med_width: 1280px;

// General

.group:after {
  content: "";
  display: table;
  clear: both;
}

body {
  margin-left: 0;
  margin-right: 0;
}
body * {
  box-sizing: border-box;
}
h1, h2 {
  font-family: $work-sans;
  text-transform: uppercase;
  color: $red;
}
h1 {
  font-weight: 700;
}
h3, h4, h5, h6, p, li, button, label, input, a {
  font-family: $open-sans;
}
ul {
  list-style: none;
}

form {
  label {
    width: 100%;
  }
  input {
    border: 1px solid $light_grey;
  }
  input[type="file"] {
    border: none;
  }
}

.container {
  max-width: $med_width;
  padding: 0 30px;
}

.clickable {
  cursor: pointer;
  &:hover {
    color: $red;
  }
}
.light-red {
  color: $light_red;
}
.dropdown-menu {
  display: none;
  position: absolute;
  padding-left: 0;
  width: 100%;
  li {
    padding: 5px;
    padding-left: 0;
  }
}
.button {
  background: $red;
  color: white !important;
  padding: 8px 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  border-width: 0;
  cursor: pointer;
  text-align: center;
}
.errors-list {
  text-align: left;
  padding-left: 0;
}

// Header

#siteHeader-container {
  // border-bottom: 1px solid $light_grey;
  padding-bottom: 8px;
}
.siteLogo {
  cursor: pointer;
}
.siteHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: $large_width;
  a, li {
  color: #222;
  text-decoration: none;
  font-weight: 700;
  font-size: 1em;
  }
  .dropdown-parent {
    position: relative;
  }
}
.siteHeader-content-left {
  display: flex;
  align-items: center;
}
.siteHeader-content-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  i {
    visibility: visible;
  }
  & > ul {
    display: flex;
    align-items: right;
    & > li:last-child {
      margin-left: 30px;
    }
  }
}
.signedIn-menu {
  padding-left: 0;
}
#auth-dropdown {
  border: 1px solid $light_grey;
  background: white;
  margin-left: -14px;
  margin-top: 8px;
  width: 112%;
  li {
    border-bottom: 1px solid $light_grey;
    padding: 0.65em 0.95em;
    &:last-child {
      border-bottom-width: 0px;
    }
  }
}

.ReactModal__Content {
  max-width: 300px;
  text-align: right;
  label {
    text-align: left !important;
    display: inline-block;
  }
  input {
    width: 100%;
    margin-bottom: 8px;
    padding: 4px;
  }
  p {
    text-align: center;
  }
  .clickable {
    color: $blue;
  }
  .modal-close {
    color: $black;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    button:first-child {
      width: 40%;
      margin-right: 4%;
      font-size: 15px;
    }
    button:nth-child(2) {
      width: 56%;
    }
  }
}

// Site Content

.siteBody-container {
  h3 {
    font-size: 21px;
    font-family: $open-sans;
    margin-top: 12px;
  }
}

// Profile

.profile-bar-container {
  background: $black;
  width: 100%;
}
.profile-bar {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin: 0 auto;
  ul {
    display: flex;
    align-items: left;
    padding-left: 0;
    li {
      margin-right: 3em;
      color: white;
      opacity: 0.65;
      font-weight: 600;
      &.selected {
        opacity: 1;
      }
      &:hover {
        opacity: 1;
        color: white;
      }
    }
  }
}
.profile-content {
  margin: 0 auto;
  h2 {
    color: $black;
    font-size: 50px;
    text-transform: none;
  }
  .tabTitleList {
    display: flex;
    align-items: left;
    border-bottom: 1px solid $light_grey;
    padding-left: 0;
    li {
      margin-right: 2em;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px;
      font-weight: 600;
      &.selected {
        border-bottom: 3px solid $red;
      }
    }
  }
}

// Edit Profile

.editProfile-tab {
  background-color: $very_light_grey;
  padding: 1em;
  margin-bottom: 1em;
  margin-top: 2em;
}
.button-container {
  width: 100%;
  text-align: right;
}
.blank {
  background: $med_grey;
}
.blank-image {
  width: 460px;
  height: 285px;
}
.profile-tab-content {
  .profile-image, .blank-image {
    width: 460px;
    height: 285px;
    display: block;
    margin-top: 2px;
    display: inline-block;
  }
}
.editProfile-form {
  input, label {
    width: 100%;
  }
  input, textarea {
    padding: 8px 14px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  textarea {
    width: 100%;
    margin-bottom: 1.6em;
    height: 18em;
  }
  #fake-upload-button {
    display: inline-block;
    float: left;
    margin-top: 6px;
  }
  #uploadProfileImage {
    position: absolute;
    visibility: hidden;
    z-index: -999;
  }
  .button {
    font-size: 16px;
    font-weight: 600;
  }
}
.editProfile-form {
  margin-bottom: 2em;
}

// Media Queries

@media (max-width: 1340px) {
  $med_width: 1002px;

  .container {
    max-width: $med_width;
    padding: 0 0;
  }
}








//
