// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Variables

$work-sans: "work sans", sans-serif;
$open-sans: "open sans", sans-serif;

$red: #ff383f;
$dark_red: darken($red, 3%);
$light_red: lighten($red,4%);
$light_black: #444;
$black: #2a2a2a;
$med_dark_black: #222;
$dark-black: #000;
$blue: #188ACC;
$dark_blue: #1E7CB2;
$light_grey: #c4c4c4;
$med_light_dark_grey: #ccc;
$very_light_grey: #f4f4f4;
$med_grey: #dbdbdb;
$grey: #777;
$med_dark_grey: #555;
$yellow: #FFFB51;
$dark_yellow: #FDDE86;
$light_green: #38FF6C;
$green: #03B232;
$dark_white: #fafafa;
$very_dark_white: #eee;

$large_width: 1440px;
$med_width: 1280px;
$dark_grey: #444;

// General

.group:after {
  content: "";
  display: table;
  clear: both;
}

.button:hover, button:hover {
  background-color: $dark_red;
}

input {
    outline: none;
}

.siteBody-container {
  position: relative;
  background: $dark_white;
  min-height: 96vh;
}
.button {
  border-radius: 1px;
}

body {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  overflow-x: hidden;
}
body * {
  box-sizing: border-box;
}
h1, h2 {
  font-family: $work-sans;
  text-transform: uppercase;
  color: $red;
}
h1 {
  font-weight: 700;
}
h3, h4, h5, h6, p, li, button, label, input, a, textarea {
  font-family: $open-sans;
}
p {
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
}
ul {
  list-style: none;
}

form {
  label {
    width: 100%;
  }
  input {
    border: 1px solid $light_grey;
  }
  input[type="file"] {
    border: none;
  }
}
a, button {
    outline: none;
}

.container {
  max-width: $med_width;
  padding: 0 40px;
  margin: 0 auto;
}

.clickable {
  cursor: pointer;
  &:hover {
    color: $red;
  }
}
.light-red {
  color: $light_red;
}
.dropdown-menu {
  display: none;
  position: absolute;
  padding-left: 0;
  width: 100%;
  li {
    padding: 5px;
    padding-left: 0;
  }
}
.button {
  background: $red;
  color: white !important;
  padding: 8px 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  border-width: 0;
  cursor: pointer;
  text-align: center;
}
.errors-list {
  text-align: left;
  padding-left: 0;
}
input {
  color: $dark_grey;
}
input[type="text"], input[type="date"] {
  padding: 10px 6px;
}

// Header

#siteHeader-container {
  border-bottom: 1px solid $light_grey;
  padding-bottom: 8px;
}
.siteLogo {
  cursor: pointer;
}
.siteHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: $large_width;
  a, li {
  color: #222;
  text-decoration: none;
  font-weight: 700;
  font-size: 1em;
  }
  .dropdown-parent {
    position: relative;
  }
}
.siteHeader-content-left {
  display: flex;
  align-items: center;
}
.siteHeader-content-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  i {
    visibility: visible;
  }
  & > ul {
    display: flex;
    align-items: right;
    & > li:last-child {
      margin-left: 30px;
    }
  }
}
.signedIn-menu {
  padding-left: 0;
  z-index: 1100;
  position: relative;
}
#auth-dropdown {
  border: 1px solid #c4c4c4;
  background: white;
  margin-top: 8px;
  width: 100%;
  min-width: 10.8em;
  right: 0;
  li {
    border-bottom: 1px solid $light_grey;
    padding: 0.8em 0.95em;
  }
  & > li:last-child {
    border-bottom-width: 0px;
  }
}
.user-campaign-list {
  padding-left: 0;
  li {
    &:hover {
      color: $red;
      a {
        color: $red;
      }
    }
  }
}

.ReactModal__Content {
  max-width: 300px;
  text-align: right;
  label {
    text-align: left !important;
    display: inline-block;
  }
  input {
    width: 100%;
    margin-bottom: 8px;
    padding: 4px;
  }
  p {
    text-align: center;
  }
  .clickable {
    color: $blue;
  }
  .modal-close {
    color: $black;
  }
  button {
    font-size: 15px;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    button:first-child {
      width: 40%;
      margin-right: 4%;
    }
    button:nth-child(2) {
      width: 56%;
      background: $dark_red;
      &:hover {
        background: $red;
      }
    }
  }
}

// Site Content

.siteBody-container {
  h3 {
    font-size: 21px;
    font-family: $open-sans;
    margin-top: 12px;
  }
}

// Media Queries

@media (max-width: 1340px) {
  $med_width: 1002px;

  .container {
    max-width: $med_width;
    padding: 0 0;
  }
}

// Loading

.image-button {
  &.loading {
    opacity: 0.8;
    background-color: $light_grey;
    cursor: default;
  }
}
//
// .loader {
//   font-size: 10px;
//   margin: 50px auto;
//   text-indent: -9999em;
//   width: 11em;
//   height: 11em;
//   border-radius: 50%;
//   background: #ffffff;
//   background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
//   background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
//   background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
//   background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
//   background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
//   position: relative;
//   -webkit-animation: load3 1.4s infinite linear;
//   animation: load3 1.4s infinite linear;
//   -webkit-transform: translateZ(0);
//   -ms-transform: translateZ(0);
//   transform: translateZ(0);
// }
// .loader:before {
//   width: 50%;
//   height: 50%;
//   background: #ffffff;
//   border-radius: 100% 0 0 0;
//   position: absolute;
//   top: 0;
//   left: 0;
//   content: '';
// }
// .loader:after {
//   background: #0dc5c1;
//   width: 75%;
//   height: 75%;
//   border-radius: 50%;
//   content: '';
//   margin: auto;
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
// }
// @-webkit-keyframes load3 {
//   0% {
//     -webkit-transform: rotate(0deg);
//     transform: rotate(0deg);
//   }
//   100% {
//     -webkit-transform: rotate(360deg);
//     transform: rotate(360deg);
//   }
// }
// @keyframes load3 {
//   0% {
//     -webkit-transform: rotate(0deg);
//     transform: rotate(0deg);
//   }
//   100% {
//     -webkit-transform: rotate(360deg);
//     transform: rotate(360deg);
//   }
// }

// Component Content

.bar-container {
  background: $black;
  width: 100%;
}
.bar {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin: 0 auto;
  ul {
    display: flex;
    align-items: left;
    padding-left: 0;
    li {
      margin-right: 3em;
      color: white;
      opacity: 0.65;
      font-weight: 600;
      &.selected {
        opacity: 1;
      }
      &:hover {
        opacity: 1;
        color: white;
      }
    }
  }
}
.content {
  margin: 0 auto;
  h2 {
    color: $black;
    font-size: 50px;
    text-transform: none;
  }
  h3 {
    margin-top: 0.75em;
    font-size: 36px;
    font-weight: 500;
  }
  .tabTitleList {
    display: flex;
    align-items: left;
    border-bottom: 1px solid $light_grey;
    padding-left: 0;
    li {
      margin-right: 2em;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px;
      font-weight: 600;
      &.selected {
        border-bottom: 3px solid $red;
      }
    }
  }
}

// Profile

.profile-bar-container {
  background: $black;
  width: 100%;
}
.profile {
  position: relative;
}
.profile-bar {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin: 0 auto;
  ul {
    display: flex;
    align-items: left;
    padding-left: 0;
    li {
      margin-right: 3em;
      color: white;
      opacity: 0.65;
      font-weight: 600;
      &.selected {
        opacity: 1;
      }
      &:hover {
        opacity: 1;
        color: white;
      }
    }
  }
}
.profile-content {
  margin: 0 auto;
  h2 {
    color: $black;
    font-size: 50px;
    text-transform: none;
    &:first-child {
      margin-top: 0;
      padding-top: 0.775em;
    }
  }
  .tabTitleList {
    display: flex;
    align-items: left;
    border-bottom: 1px solid $light_grey;
    padding-left: 0;
    li {
      margin-right: 2em;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px;
      font-weight: 600;
      &.selected {
        border-bottom: 3px solid $red;
      }
    }
  }
}

// Edit Profile

.editProfile-tab {
  background-color: $very_light_grey;
  padding: 1em;
  margin-bottom: 1em;
  margin-top: 2em;
}
.button-container {
  width: 100%;
  text-align: right;
}
.blank {
  background: $med_grey;
}
.blank-image {
  width: 460px;
  height: 285px;
}
.profile-tab-content {
  .profile-image, .blank-image {
    width: 460px;
    height: 285px;
    display: block;
    margin-top: 2px;
    display: inline-block;
  }
}
.editProfile-form {
  input, label {
    width: 100%;
  }
  input, textarea {
    padding: 8px 14px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  textarea {
    width: 100%;
    margin-bottom: 1.6em;
    height: 18em;
    font-size: 15px;
  }
  .button {
    font-size: 16px;
    font-weight: 600;
  }
}
.editProfile-form {
  margin-bottom: 2em;
}
.thumbnail-image {
  width: 400px;
  height: 400px;
}
#fake-upload-button {
  display: inline-block;
  float: none;
  margin-top: 6px;
}
#uploadProfileImage, #uploadThumbnailImage, #uploadPitchImage {
  position: absolute;
  visibility: hidden;
  z-index: -999;
}

// View Profile

.small-profile-image {
  width: 310px;
  height: 310px;
  // border-radius: 50%;
}
#profile-content {
  padding-top: 2em;
  padding-right: 4em;
  h3 {
    margin-top: 0.75em;
    font-size: 36px;
    font-weight: 500;
  }
  .profile-info {
    padding-left: 1em;
    padding-right: 12%;
  }
  .profile-statistics {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    li {
      margin-right: 2em;
      display: flex;
      align-items: center;
      color: $dark_grey;
    }
    .stat-num {
      font-weight: 700;
      font-size: 1.6em;
      margin-right: 6px;
      color: $black;
      font-family: $work-sans;
    }
  }
  img {
    max-width: 100%;
  }
}

// Campaign

.campaign-header {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  h3 {
    display: flex;
    align-items: center;
    margin-bottom: 0.75em;
  }
  .campaign-status {
    padding: 4px 8px;
    background: $dark_yellow;
    font-size: 16px;
    border-radius: 3px;
    margin-left: 1em;
    margin-bottom: -6px;
    color: $black;
  }
}
.campaign-steps {
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    position: relative;
    li {
      margin-right: 0em;
      padding: 12px 20px 12px 16px;
      border: 2px solid $blue;
      border-right-width: 0;
      color: $blue;
      font-weight: bold;
      background: white;
      z-index: 10;
      &.selected {
        background: $blue;
        color: white;
      }
      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &:nth-last-child(2) {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        margin-right: 1em;
        border-right-width: 2px;
      }
      &:last-child {
        border-radius: 3px;
        border-width: 2px;
      }
      &:hover {
        color: white;
        background: $blue;
      }
    }
  }
  i {
    color: $med_grey;
    margin-right: 6px;
  }
}
.campaign-steps-list {
  position: relative;
  display: inline-block;
  &:after {
    // content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    background: $blue;
    bottom: 50%;
    width: 80%;
    z-index: 1;
  }
}

// Campaign Pitch

.campaign-pitch-header {
  h2 {
    margin-bottom: 0;
    margin-top: 0.75em;
  }
}
.campaign-pitch-body {
  margin-top: 3.4em;
  input {
    font-size: 18px;
    font-weight: 600;
    color: $dark_grey;
  }
  label {
    color: $dark_grey;
  }
}
.currency-symbol {
  border: 1px solid $light_grey;
  padding-left: 10px;
  display: inline-block;
  color: $blue;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 1.8em;
  input {
    border: none;
  }
}
.pitch-title {
  margin-top: 10px;
  min-width: 24em;
  padding-left: 14px !important;
}
.create-campaign {
  font-size: 18px;
  font-weight: 700;
  padding: 12px 18px;
  margin-top: 3em;
}

// Campaign Edit Form

.status-published {
  background-color: $green !important;
  color: white !important;
}
.campaign_edit {
  .campaign-header {
    border-bottom: none;
  }
}
.campaign-edit-form-container {
  h4 {
    font-size: 26px;
    font-weight: 500;
    margin-top: 0.5em;
  }
  .button {
    font-size: 17px;
    font-weight: 600;
    font-family: $open-sans;
  }
  label {
    font-size: 18px;
    .form-sub-title {
      color: $grey;
      font-size: 16px;
      margin-top: 8px;
      margin-bottom: 12px;
      display: inline-block;
    }
    input[type="text"], input[type="date"] {
      width: 55%;
      padding-left: 12px;
      margin-bottom: 3em;
    }
  }
  #fake-upload-button {
    margin-bottom: 3em;
  }
  .campaign-form-tagline {
    width: 70% !important;
  }
  .campaign-duration-input {
    width: 4em !important;
    margin-bottom: 0em;
  }
  .currency-symbol {
    width: 55%;
    input {
      margin-bottom: 0 !important;
    }
  }
  .campaign-image, .blank-image {
    width: 400px;
    height: 400px;
    display: block;
    margin-top: 2px;
    display: inline-block;
  }
  textarea {
    width: 100%;
    margin-bottom: 4em;
    height: 14em;
    font-size: 15px;
    padding: 10px 14px;
  }
}
.form-section {
  width: 80%;
}
.form-button-container {
  border-top: 1px solid $light_grey;
  padding: 2em 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.form-story-section {
  img, .blank-image {
    width: 620px;
    height: 415px;
  }
}

// Campaign Show

.campaign-show-container {
  padding-top: 3em;
  position: relative;
  img {
    max-width: 100%;
  }
}
.campaign-info {
  padding-left: 1em;
  padding-right: 1em;
  h4 {
    font-family: $work-sans;
    font-size: 26px;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 0;
    padding-right: 1em;
  }
  p {
    padding-right: 1em;
  }
  .campaign-author-container {
    display: flex;
    align-items: center;
  }
  .author-image {
    img {
      width: 76px;
      height: 76px;
      border-radius: 50%;
    }
  }
  .author-info {
    padding-left: 1em;
    p {
      margin: 0 !important;
      font-size: 16px;
      color: $med_dark_grey;
    }
  }
}

.pitch-image-container {
  margin-bottom: 2em;
  padding-right: 1.5%;
}

.goal-progress-container {
  width: 100%;
  margin-top: 4em;
  .progress-bar {
    height: 10px;
    width: 100%;
    margin: 4px 0;
    margin-top: 10px;
    background: $med_grey;
    .progress {
      background-color: $blue;
      height: 10px;
      max-width: 100%;
    }
  }
  .progress-stats {
    display: flex;
    justify-content: space-between;
    & > * {
      margin-top: 6px;
    }
  }
}
.thin {
  font-weight: 300;
}

.campaign-tabs {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  .selected {
    h4 {
      color: $red !important;
      font-weight: 700;
    }
  }
  li {
    margin-right: 1em;
  }
}
.campaign-content-sidebar {
  padding-left: 1em;
  h4 {
    margin-bottom: 12px;
  }
  p {
    font-size: 17px;
  }
}
.campaign-content-main {
  padding-right: 1.5%;
  h4 {
    margin-bottom: 12px;
  }
  p {
    font-size: 17px;
  }
}
.campaign-header {
  width: 100%;
  border-bottom: 1px solid $light_grey;
  h4 {
    font-weight: 400;
    text-transform: uppercase;
    color: $med_dark_grey;
  }
}

.campaign-tabs {
  border-bottom: 1px solid $light_grey;
  h4 {
    font-weight: 400;
    text-transform: uppercase;
    color: $med_dark_grey;
    &:hover {
      color: $red;
    }
  }
}

.user-campaign-show-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 60%;
  align-content: center;
  padding-left: 0;
  li {
    display: flex;
    justify-content: space-between;
    &:hover {
      color: inherit;
    }
  }
  img {
    width: 80px;
    height: auto;
    margin-right: 1em;
  }
}
.user-campaign-item {
  align-items: center;
  border-bottom: 1px solid $light_grey;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
.user-campaign-item-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.user-campaign-item-buttons {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  .campaign-item-link {
    &:hover {
      color: $red;
    }
  }
}
.contribute-button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1.95em;
  .contribute-button-box {
    width: 100%;
    border: 1px solid $light_grey;
    margin-right: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    color: $grey;
    font-family: $open-sans;
  }
  input {
    width: 100%;
    border-radius: 1px;
    border: none;
    margin-right: 5px;
    padding: 0;
    padding-left: 4px;
    font-size: 18px;
    font-weight: 600;
    color: #444;
    background: none;
  }
  button {
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 800 !important;
    border-radius: 1px;
  }
}

// Home

.home-content-container {
  padding-top: 1.8em;
  h3 {
    font-family: $work-sans;
  }
}

// Campaign Index

.index-displayed {
  display: none;
}

.campaign-index {

}
.campaign-index-tabs {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  margin-bottom: 24px;
  h3 {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0;
    margin-bottom: 6px;
  }
  li {
    padding: 0 6px;
    border-bottom: 3px solid $red;
  }
}
.campaign-index-item {
  width: 22.6%;
  margin: 0 1.6%;
  float: left;
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid $light_grey;
  margin-bottom: 2.6em;
  &:hover {
    color: inherit;
    border-color: #a8a8a8;
  }
  img {
    max-width: 100%;
    padding: 0;
  }
  &:nth-child(4n+1) {
    margin-left: 0;
    margin-right: 1.6%;
  }
  &:nth-child(4n+4) {
    margin-left: 1.6%;
    margin-right: 0;
  }
  .campaign-index-item-content {
    padding: 10px;
    h4 {
      margin-top: 6px;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 0;
    }
    p {
      font-size: 14px;
      line-height: 1.4em;
      margin-top: 10px;
    }
  }
  .campaign-index-item-info {
    height: 4.2em;
  }
}
.index-goal-item {
  .index-hidden {
    display: none;
  }
  .index-displayed {
    display: inline-block;
  }
}

// Show Rewards

.campaign-rewards-list {
  display: flex;
  padding-left: 0;
  flex-direction: column;
  li {
    width: 100%;
    padding: 1em;
    padding-top: 0;
    position: relative;
    &:hover {
      .opacity-cover {
        display: inline-block;
      }
      .reward-claim-button {
        display: inline-block !important;
        opacity: 1 !important;
      }
    }
    .opacity-cover {
      background: #FAFAFA;
      opacity: 0.3;
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  .reward-price {
    font-size: 26px;
    font-family: $work-sans;
    margin-bottom: 10px;
    margin-top: 14px;
  }
  .reward-title {
    margin: 0;
  }
  .reward-description {
    margin-top: 2px;
    margin-bottom: 16px;
  }
  .reward-inventory {
    margin: 0;
    color: $grey;
  }
  .reward-estimated-delivery {
    color: $med_dark_grey;
    text-transform: uppercase;
  }
  .reward-claim-button {
    position: absolute;
    bottom: 1em;
    padding: 12px;
    width: 100%;
    display: none;
    font-weight: 600;
    font-size: 16px;
  }
}

// Edit Rewards

.form-rewards-section {
  width: 100%;
  .reward-table {
    width: 100%;
    text-align: left;
    border: 1px solid $very_light_grey;
    margin-bottom: 2.8em;
    * {
      border-collapse: collapse;
      border-spacing: 0;
    }
    thead {
      background: $very_light_grey;
    }
    tbody {
      tr {
        cursor: pointer;
        &:hover {
          background: $very_dark_white;
        }
        &:last-child {
          td {
            border-bottom: none;
          }
        }
      }
    }
    th {
      padding: 12px 20px;
      font-family: $work-sans;
      color: $black;
      margin: 0;
      font-size: 17px;
      font-weight: 600;
    }
    td {
      padding: 12px 20px;
      font-family: $open-sans;
      color: $dark_grey;
      border-bottom: 1px solid $very_light_grey;
    }
  }
  .create-reward-button {
    margin: 1em 0 2em;
    font-weight: 700;
    padding: 12px 16px;
  }
}

.reward-ajax-form {
  margin-top: 1.8em;
  .currency-symbol {
    margin-top: 0;
    width: 100% !important;
    color: $med_dark_grey;
    input {
      width: 80% !important;
      padding-left: 0 !important;
    }
  }
  input {
    width: 100% !important;
  }
  .reward-form-col {
    padding-right: 3em;
  }
  .form-sub-title {
    height: 2.76em;
    padding-right: 2em;
  }
  input[type="date"] {
    margin-bottom: 2.5em;
  }
  .radio-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 6px;
    input {
      width: 2em !important;
    }
    span {
      margin-right: 2em;
    }
  }
  .reward-description-textarea {
    .form-sub-title {
      height: auto;
    }
    textarea {
      height: 10em;
    }
  }
}
.reward-buttons-container {
  padding-right: 3em;
}
.reward-buttons-list {
  display: flex;
  width: 100%;
  border-top: 1px solid $very_dark_white;
  justify-content: flex-end;
  padding-left: 0;
  align-items: center;
  li {
    margin: 1.2em 1em;
    &:last-child {
      margin-right: 0em;
    }
  }
  .clickable {
    text-transform: uppercase;
  }
  .button {
    border-radius: 3px;
  }
  .delete-reward-button {
    margin-right: 1em;
  }
}

// Campaign backers

.backers-list {
  list-style: none;
  padding-left: 1em;
  li {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
    &:hover {
      color: inherit;
    }
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 14px;
    }
  }
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}


// Contribution Table

.contribution-table {
  width: 100%;
  text-align: left;
  border: 1px solid $very_light_grey;
  margin-bottom: 2.8em;
  * {
    border-collapse: collapse;
    border-spacing: 0;
  }
  thead {
    background: $very_light_grey;
  }
  tbody {
    tr {
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }
  th {
    padding: 12px 20px;
    font-family: $work-sans;
    color: $black;
    margin: 0;
    font-size: 17px;
    font-weight: 600;
  }
  td {
    padding: 5px 20px;
    font-family: $open-sans;
    color: $dark_grey;
    border-bottom: 1px solid $very_light_grey;
  }
}

// Slider

/* enable Flickity by default */
.gallery:after {
  content: 'flickity';
  display: none; /* hide :after */
}

.main-gallery {
  background: #000;
}
.flickity-viewport {
  cursor: pointer !important;
}
.gallery-cell {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: left;
  min-height: 350px;
  width: 38.4%;
  margin: 0;
  text-align: left;
  // background-size: cover;
  background-size: 104%;
  background-position: 50% 50%;
  padding: 2em 2.4em;
  margin-right: 0 !important;
  transition: background-size 0.25s ease;
  // flicker fix
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  // top box shadow
  -webkit-box-shadow: inset 0px 30px 104px -24px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0px 30px 104px -24px rgba(0,0,0,0.15);
  box-shadow: inset 0px 30px 104px -24px rgba(0,0,0,0.15);
  &:hover {
    background-size: 102%;
  }
  &.is-selected:hover {
    background-size: 104%;
  }
  .gallery-overlay {
    position: absolute;
    display: inline-block;
    background-color: rgba(0,0,0,0.2);
    z-index: 100;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    // bottom box shadow
    -webkit-box-shadow: inset 0px -84px 104px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -84px 104px -20px rgba(0,0,0,0.75);
    box-shadow: inset 0px -84px 104px -20px rgba(0,0,0,0.75);
  }
  .slide-content {
    z-index: 200;
    opacity: 0;
  }
  .slide-subcontent {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  h3 {
    margin-bottom: 0;
    color: white;
    font-size: 19px;
  }
  p {
    color: white;
    margin-top: 0.25em;
    margin-bottom: 0;
    padding-right: 4em;
    font-size: 16px;
    line-height: 1.45em;
  }
  .button {
    position: relative;
    z-index: 400;
    padding: 9px 17px;
    align-self: flex-end;
    white-space: nowrap;
    font-family: $open-sans;
    font-weight: 600;
    background: none;
    border: 2px solid white;
    &:hover {
      background: white;
      color: $black !important;
    }
  }
}

// Checkout form

.checkoutTitle {
  margin-bottom: 1.5em;
}
.checkoutForm {
  button {
    margin-top: 0.7em;
    margin-bottom: 0.6em;
    padding: 10px 16px;
    font-size: 18px;
    font-weight: 600 !important;
    border-radius: 1px;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & > div {
    display: flex;
    flex: row;
    justify-content: space-between;
  }
  label {
    font-weight: 600;
    color: $dark_grey;
    &:nth-child(even) {
      margin-left: 0.5em;
    }
    &:nth-child(odd) {
      margin-right: 0.5em;
    }
    > span {
      padding-left: 4px;
    }
  }
  input {
    border: 1px solid $light_grey;
    font-size: 16px;
    padding: 8px 10px;
    margin-top: 6px;
  }
  .contribute-button-container {
    margin-top: 6px;
  }
  .contribute-button-box {
    input {
      border-width: 0;
      margin: 0;
    }
  }
  .reward-title-box {
    display: flex;
    align-items: center;
    padding-top: 1.85em;
    margin-left: 16px;
    font-family: $open-sans;
    font-style: italic;
    color: $grey;
  }
  .contribution-info {
    border-bottom: 1px dashed $light_grey;
    padding-bottom: 2em;
    &.has-reward {
      padding-bottom: 0.4em;
    }
    & > div, & > label {
      width: 50%;
    }
    .contribute-button-box {
      margin-right: 0;
    }
    label {
      margin-right: 0;
      & > span {
        padding-left: 8px;
      }
    }
  }
  .credit-info-container {
    position: relative;
    margin-top: 1.4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & > div {
      width: 33%;
      padding: 0;
    }
  }
  .credit-info-container-two {
    & > label {
      width: 33.333%;
      float:  left;
      &:first-child {
        margin: 0;
        padding-right: 0.5em;
      }
      &:nth-child(2) {
        margin: 0;
        padding: 0 0.5em;
      }
      &:last-child {
        margin: 0;
        padding-left: 0.5em;
      }
    }
  }
  .financial-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .financial-overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      z-index: 1000;
      background: rgba(255,255,255,0.8);
      padding: 0 10%;
      color: $green;
      font-style: italic;
    }
  }
}
.checkoutModal {
  max-width: 800px;
}

// Search bar

.search-symbol {
  border: 1px solid $med_light_dark_grey;
  padding-left: 10px;
  display: inline-block;
  color: $light_grey;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  border-radius: 2px;
  & > i {
    cursor: pointer;
  }
  &.selected-input {
    border-color: $grey;
  }
  input {
    font-family: $open-sans;
    font-size: 16px;
    font-weight: 600;
    color: $dark_grey;
    border: none;
    padding: 8px 7px;
    width: 12em;
    transition: all 0.5s;
  }
}

// Search Component

.search-header {
  font-family: $open-sans;
  font-weight: 400;
  font-size: 22px;
}
.query-display {
  color: $blue;
  padding-bottom: 6px;
  border-bottom: 2px solid $blue;
}
.search-component-input-container {
  position: relative;
  margin-bottom: 1em;
  width: 98%;
  border: 1px solid $med_light_dark_grey;
  padding-left: 12px;
  display: inline-block;
  font-family: $open-sans;
  color: $light_grey;
  font-weight: 600;
  font-size: 22px;
  margin:0em 0 1.5em;
  border-radius: 2px;
  &:focus {
    border-color: $grey;
  }
  & > i {
    cursor: pointer;
  }
  input {
    width: 96%;
    font-family: $open-sans;
    color: $dark_grey;
    font-weight: 600;
    font-size: 20px;
    border: none;
    padding: 10px 10px 12px;
  }
}

// Footer

footer {
  padding: 1.6em 0;
  margin-top: 0.8em;
  background-color: $dark-black;
  color: $light_black;
  .container {
    & > div {
      float: left;
      width: 25%;
    }
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .footer-list-container {
    padding-left: 1.2%;
  }
  h4 {
    font-size: 40px;
    font-weight: 900;
    margin: 8px 0 0;
    color: $med_dark_black;
    cursor: pointer;
    &:hover {
      color: lighten($med_dark_black, 4%);
    }
  }
  ul {
    padding-left: 0;
    li {
      margin-bottom: 7px;
      cursor: pointer;
      font-weight: 600;
      & a:hover {
        color: lighten($light_black, 10%);
      }
    }
  }
  .footer-icons-container {
    height: 100%;
  }
  .footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    li {
      margin: 0 1em;
    }
    i {
      font-size: 19px;
    }
  }
}
.contribute-button-box {
  input {
    padding-left: 2px !important;
  }
}

// Loading Screen & Loader

#loading-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 999;
  display: none;
  &.loading {
    display: block;
  }
}
.loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display:flex;
  justify-content: center;
  align-items: center;
}

// Here is where the magic happens

$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite,
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}
