<!DOCTYPE html>
<html>
<head>
  <title>StartupGoGo</title>
  <link
    href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700,800|Open+Sans:300,400,500,600,700"
    rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.14.0/js/vendor/jquery.ui.widget.js">
  </script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.14.0/js/jquery.iframe-transport.js">
  </script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.14.0/js/jquery.fileupload.js">
  </script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.14.0/js/jquery.fileupload-process.js">
  </script>
  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/jquery.cloudinary/1.0.18/jquery.cloudinary.js">
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
